@tailwind base;
@tailwind components;
@tailwind utilities;

/* 为 Markdown 内容添加一些基本样式 */
.prose {
    max-width: none;
}

.prose pre {
    background-color: #f3f4f6;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
}

.prose code {
    font-family: 'Courier New', Courier, monospace;
}